.content {
  display: flex;
  background-image: url(./poke-create.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  font-family: 'TTVTechPrecomput', sans-serif;
}

.formPerfil {
  color: #343a40;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 10%;
  margin-bottom: 70px;
}

.form {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 3px solid #FFD700;
  border-radius: 35px;
  width: 850px;
  height: 600px;
  margin: 10px;
  background-color: rgba(201, 192, 192, 0.856);
  font-family: 'TTVTechPrecomput', sans-serif;
  color: #1a1b1b;
}

.titleForm {
  display: flex;
  justify-content: center;
  font-size: 60px;
  color: #1a1b1b;
  font-weight: bold;
  margin-top: 30px;
}

/* .input {
  padding: 3px;
  font-size: 16px;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  border-color: #000000;
  color: #000000;
  font-family: monospace;
  font-weight: normal;
  display: inline-block;
} */

.input:focus {
  outline: none;
}

.inputs{
  margin-left: 70px;
  margin-bottom: 10px;
  align-items: flex-start;
}

.inputName {
  padding: 3px;
  font-size: 16px;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  border-color: #000000;
  color: #000000;
  font-family: monospace;
  font-weight: normal;
  display: inline-block;
  width: 207px;
}

.inputStrength {
  padding: 3px;
  font-size: 16px;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  border-color: #000000;
  color: #000000;
  font-family: monospace;
  font-weight: normal;
  display: inline-block;
  width: 173px;
}

.inputDefense {
  padding: 3px;
  font-size: 16px;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  border-color: #000000;
  color: #000000;
  font-family: monospace;
  font-weight: normal;
  display: inline-block;
  width: 175px;
}

.inputImg{
  padding: 3px;
  font-size: 16px;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  border-color: #000000;
  color: #000000;
  font-family: monospace;
  font-weight: normal;
  display: inline-block;
  width: 203px;
}

.inputHealth {
  padding: 3px;
  font-size: 16px;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  border-color: #000000;
  color: #000000;
  font-family: monospace;
  font-weight: normal;
  display: inline-block;
  width: 200px;
}

.inputHeight {
  padding: 3px;
  font-size: 16px;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  border-color: #000000;
  color: #000000;
  font-family: monospace;
  font-weight: normal;
  display: inline-block;
  width: 200px;
}

.inputWeight {
  padding: 3px;
  font-size: 16px;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  border-color: #000000;
  color: #000000;
  font-family: monospace;
  font-weight: normal;
  display: inline-block;
  width: 193.5px;
}

.inputSpeed {
  padding: 3px;
  font-size: 16px;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  border-color: #000000;
  color: #000000;
  font-family: monospace;
  font-weight: normal;
  display: inline-block;
  width: 200px;
}

.inputTypes {
  padding: 3px;
  font-size: 16px;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  border-color: #000000;
  color: #000000;
  font-family: monospace;
  font-weight: normal;
  display: inline-block;
  width: 217px;
}

.title5 {
  font-size: 30px;
}

.concatFiltro {
  display: inline-flex;
}

.boton {
  justify-content: flex-start;
  border-radius: 35px;
  border: 3px solid #272727;
  list-style: none;
  color: #252422;
  font-family: 'TTVTechPrecomput', sans-serif;
  font-weight: bold;
  margin-top: 30px;
  margin-left: 30px;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  padding: 8px 20px;
  outline: none;
  cursor: pointer;
  font-size: 40px;
  background-color: #FFD700;

}

.boton::before {
  content: " ";
  position: absolute;
  border-radius: 35px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: .2s;
}

.boton:hover {
  border-color: #0000CD;
  box-shadow: 0px 3px 15px 0px black;
  transform: scale(1.1);
  background-color: #FFD700;
  color: #fdfdfde7;
  transition: all 0.3 ease-out;
}

.types {
  margin-left: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 80%;
  height: 7rem; */
}

.choosed {
  width: 400px;
  height: 35px;
  padding: 0rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  overflow-x: auto;
}

.inputType {
  width: 6rem;
  height: 2.1rem;
  background-color: #ccc5b98a;
  margin-left: 70px;
  margin-right: 0.5rem;
  border-radius: 8px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: flex-start;
  padding: 0rem;
  align-items: center;
  align-content: center;
}

.cross {
  width: 18px;
  height: 18px;
  background-color: #FFD700;
  border-color: #000000;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.cross:hover {
  color: #FFD700;
  transition: all 0.3 ease-out;
  border-color: #FFD700;
  background-color: #000000;
}

.pokeName {
  font-size: 0.8rem;
  font-family: Helvetica;
}

.contBtnCreate {
  display: flex;
  flex-direction: row-reverse;
}

.btn-createPoke {
  border-radius: 35px;
  border-color: #403d39;
  list-style: none;
  color: #252422;
  font-family: 'TTVTechPrecomput', sans-serif;
  font-size: 30px;
  margin-right: 20px;
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  padding: 8px 20px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #FFD700;
  
}


.btn-createPoke::before {
  content: " ";
  position: absolute;
  border-radius: 35px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: .2s;
}

.btn-createPoke:hover {
  border-color: #252422;
  box-shadow: 0px 3px 20px 0px black;
  transform: scale(1.1);
  background-color: #FFD700;
  color: #252422;
  transition: all 0.3 ease-out;
}