@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

.card {
    width: 150px;
    height: 200px;
    border-radius: 20px;
    background: #e1c443;
    position: relative;
    padding: 1.8rem;
    border: 3.5px solid #272727;
    transition: 0.5s ease-out;
    overflow: visible;
    font-family: "Press Start 2P", cursive;
    margin: 15px 10px;
}

.card-details {
    color: black;
    height: 100%;
    display: grid;
    place-content: center;
    justify-items: center;
}

.img-game {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    align-items: center;
}

.card-button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    background-color: #272727;
    color: #e1c443;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
    cursor: pointer;
    border-color: #fdfdfde7;
    margin-top: 10px;
}

.text-body {
    color: #252422;
    font-size: 12px;
}

/*Text*/
.text-title {
    font-size: 17px;
    font-weight: bold;
    color: #252422;
    margin: 0%;
}

/*Hover*/
.card:hover {
    box-shadow: 0px 3px 20px 0px black;
}

.card:hover .card-button {
    font-family: "Press Start 2P", cursive;
    font-size: 13px;
    transform: translate(-50%, 50%);
    opacity: 1;
}

.conteiner-types {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: auto;
    gap: 5px;
}

.img-types {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    align-items: center;
}