.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    background-image: url(poke-landing.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-size: 50px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.logoLand {
    width: 700px;
}

.buttonHome {
    width: 200px;
}

.buttonHome::before {
    content: " ";
    position: absolute;
    top: 0;
    left:0;
    height:100%;
    width: 100%;
    z-index:-1;
    transition: .2s;
}

.buttonHome:hover {
    transform: scale(1.1);
    transition: all 0.3 ease-out;
}
