@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

.landing {
    text-align: center;
    display: flex;
    flex-direction: column;
    background-image: url(poke-landing.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-size: 50px;
    font-weight: bold;
}
.container {
    display: flex;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 50px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}
.social-media {
    display: flex;
    margin-left: 93%;
}
.linkedin {
    width: 45px;
}
.linkedin::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: .2s;
}
.linkedin:hover {
    transform: scale(1.1);
    transition: all 0.3 ease-out;
}
.gitHub {
    width: 45px;
}
.gitHub::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: .2s;
}
.gitHub:hover {
    transform: scale(1.1);
    transition: all 0.3 ease-out;
}
.logoLand {
    width: 700px;
}
.buttonHome {
    width: 200px;
}
.buttonHome::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: .2s;
}
.buttonHome:hover {
    transform: scale(1.1);
    transition: all 0.3 ease-out;
}
.text-footer {
    font-family: "Press Start 2P", cursive;
    text-transform: capitalize;
    text-align: center;
    font-size: 13px;
    color: rgb(255, 230, 0);
    text-shadow: rgb(4, 0, 250) 2px 2px 2px;
    margin-top: auto;
    margin-inline: auto;
    margin-bottom: 30px;
}