.paginated {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 60px;
  margin: 0;
  padding: 1rem;
}
.paginated li {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: transparent;
  background: url(./close-pokeball.png);
  background-size: cover;
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.paginated .active {
  background: url(./open-pokeball.png);
  background-size: cover;
  color: #fff;
  font-weight: bold;
  width: 70px;
  height: 100%;
}