.nav-container {
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'TTVTechPrecomput', sans-serif;
    padding: 0.5rem;
}

.logo {
    width: 300px;
}

.create-poke {
    border-radius: 35px;
    border: 2.5px solid #252422;
    list-style: none;
    color: #252422;
    font-family: 'TTVTechPrecomput', sans-serif;
    font-weight: bold;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    padding: 8px 12px;
    outline: none;
    cursor: pointer;
    font-size: 25px;
    background-color: #FFD700;
    width: 100%;
}

.create-poke:before {
    content: " ";
    position: absolute;
    border-radius: 35px;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: .2s;
}

.create-poke:hover {
    border-color: #0000CD;
    box-shadow: 0px 3px 20px 0px rgb(124, 124, 124);
    transform: scale(1.1);
    background-color: #FFD700;
    color: #252422;
    transition: all 0.3 ease-out;
}

.div-buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 20%;
    padding-top: 25px;
    margin-right: 30px;
    margin-top: 10px;
}

.div-buttons button{
    width: 100%;
}

.div-search {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30%;
    padding-top: 30px;
    align-items: center;
}
