.group {
    position: relative;
    color: #252422;
    background-color: #FFD700;
    border-radius: 20px;
    
}

.input {
    font-family: 'TTVTechPrecomput', sans-serif;
    font-size: 20px;
    color: #252422;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 200px;
    border: none;
    background: transparent;
}

.input:focus {
    outline: none;
}

