.group {
    position: relative;
    color: #252422;
    background-color: #FFD700;
    border-radius: 20px;
    
}
.inputSearch {
    font-family: 'TTVTechPrecomput', sans-serif;
    font-size: 20px;
    color: #252422;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 200px;
    background: transparent;
    border-radius: 20px;
    border: 2px solid black;
}
.inputSearch:focus {
    outline: none;
}